<center><span style="background-color: rgb(251, 160, 38); font-size: 32px;">  <b>NUCLIO DIGITAL SCHOOL -</b> MASTER EN DATA SCIENCE  </span></center>
    
<br>
    
<center><a href = https://nuclio.school/wp-content/uploads/2019/10/nucleoDS-newBlack.png > <img src="https://nuclio.school/wp-content/uploads/2019/10/nucleoDS-newBlack.png" width=400 height=100><a/></center>

<hr style="height:5px;border-width:0;color:orange;background-color:orange">
<center> <span style="font-size: 26px;">  Tiempo y Fecha en Python - <b> Ejercicios </span> </center>

+ Sesion: **Tiempo y Fechas en Python**
+ Bloque: **Aprendizaje Supervisado Series Temporales**
+ Curso: **Data Science Madrid**
+ Profesor: **츼lvaro Ponte Blanco**

<br>

<hr style="height:5px;border-width:0;color:orange;background-color:orange">

# Ejercicios

## Tiempo en Python

0. Importa el paquete de datetime

In [227]:
from datetime import datetime, date, time, timedelta

1. Crea un variable con el dia de tus cumplea침os游꾹游꾹 con la funcion datetime y muestrala en pantalla (print). Si no quieres compartirla, puedes usar una fecha ficticia :)

In [228]:
bday= date(1988, 7, 29)
print(bday)

1988-07-29

2. Crea otra variable con el dia de cumplea침os utilizando cadena de texto con esta forma 01/01/1990. Comprueba que ambas fechas son iguales creando una nueva variable: son_iguales (binaria)

In [229]:
texto = "29/07/1988"
formato = '%d/%m/%Y'
dts = datetime.strptime(texto, formato)
print(dts)

1988-07-29 00:00:00

In [230]:
son_iguales=dts-bday==0

TypeError: unsupported operand type(s) for -: 'datetime.datetime' and 'datetime.date'

3. Muestra tu cumplea침os (cualquiera de las dos variables) en 4 formatos diferentes:
    + January 01, 1990
    + 01/01/1990
    + 01-01-1990
    + 01 January 1990

In [ ]:
print(bday.strftime("%B %d,%Y"))
print(bday.strftime("%d/%m/%Y"))
print(bday.strftime("%d-%m-%Y"))
print(bday.strftime("%d %B %Y"))

July 29,1988
29/07/1988
29-07-1988
29 July 1988

4. Que dia de las semana has nacido? Y en que d칤a del a침o? Y en que semana del a침o? Mira en las tablas para acordarte de los codigos

In [ ]:
#dayoftheweek i was born
bday.strftime("%A")

'Friday'

In [ ]:
#day of the year
bday.strftime('%j')

'211'

In [ ]:
#week of the year
bday.strftime("%W")

'30'

5. Crea una variable de tipo hora que represente en la que has nacido hasta nivel microsegundo. Si no te acuerdas游땐 te la puedes inventar. Combinala con la fecha de tu cumplea침os con combine

In [ ]:
hora = time(14,30,20,22)
print(hora)

14:30:20.000022

In [ ]:
combo=datetime.combine(bday,hora)
print(combo)

1988-07-29 14:30:20.000022

6. Obten los principales atributos del campo edad: a침o, mes, d칤a del mes, hora, minuto, segundo y microsegundo del campo anterior

In [ ]:
print('Full date: ' +  str(combo))
print('A침o: ' +  str(combo.year))
print('Mes: ' +  str(combo.month))
print('D칤a: ' +  str(combo.day))
print('Hora: ' +  str(combo.hour))
print('Minuto: ' +  str(combo.minute))
print('Segundo: ' +  str(combo.second))
print('MicroSegundo: ' +  str(combo.microsecond))
print('Minute: ' +  str(type(combo.minute)))

Full date: 1988-07-29 14:30:20.000022
A침o: 1988
Mes: 7
D칤a: 29
Hora: 14
Minuto: 30
Segundo: 20
MicroSegundo: 22
Minute: <class 'int'>

7. Calcula tu edad actual (datetime), incluyendo todas las unidades (segundos incluidos)

In [ ]:
#method 1
def age(combo):
    today = date.today()
    age = today.year - bday.year - ((today.month, today.day) < (bday.month, bday.day))
    return age

In [ ]:
print(age(date(2022, 1, 22)))

33

In [ ]:
#method 2
age = date.today() - date(1988,7,29)
print(age)
print(type(age))

12232 days, 0:00:00
<class 'datetime.timedelta'>

In [ ]:
#method 3

date_time = datetime(2022,1,22,20,30,20,22)
print(date_time)

2022-01-22 20:30:20.000022

In [ ]:
age=date_time-combo
print(age)

12230 days, 6:00:00

In [ ]:
ageinyears=12230/365
print(ageinyears)

33.50684931506849

8. En que fecha has cumplido 5000 d칤as? Obten la variable a침o, mes y si era fin de semana o no. Eras mayor en esa fecha o cuando cumplas 300000000 de segundos?

In [ ]:
vardelta = bday + timedelta(days=5000)
print(vardelta)

2002-04-07

9. Cuantos a침os tendras el 'Jun 28 2025 at 7:40AM' (incluye tambien horas minutos y segundos)? Tienes que utilizar el formato cadena para introducir la fecha

In [ ]:
age_total = datetime(2025,6,25,7,40)- datetime(1988,7,29,14,30,28)
print(age_total)

13479 days, 17:09:32

In [ ]:
years= 13479/365
print(years)

36.92876712328767

10. Crea  una lista con todas las fechas de tu cumplea침os hasta el d칤a de hoy. Pista timedelta no incluye a침os porque no es unidad de tiempo fija, por lo que puedes utilizar .replace para introducir nuevos a침os

In [ ]:
dt = datetime(1988, 7, 29)
end = datetime(2021, 7, 29)
step=timedelta(years)
result = []

while dt < end:
    result.append(dt.strftime("%Y-%m-%d"))
    dt += step
print(result)

['1988-07-29', '1988-09-03', '1988-10-10', '1988-11-16', '1988-12-23', '1989-01-29', '1989-03-07', '1989-04-13', '1989-05-20', '1989-06-26', '1989-08-02', '1989-09-08', '1989-10-15', '1989-11-21', '1989-12-28', '1990-02-02', '1990-03-11', '1990-04-17', '1990-05-24', '1990-06-30', '1990-08-06', '1990-09-12', '1990-10-19', '1990-11-25', '1991-01-01', '1991-02-07', '1991-03-16', '1991-04-22', '1991-05-29', '1991-07-04', '1991-08-10', '1991-09-16', '1991-10-23', '1991-11-29', '1992-01-05', '1992-02-11', '1992-03-19', '1992-04-25', '1992-06-01', '1992-07-08', '1992-08-14', '1992-09-20', '1992-10-27', '1992-12-02', '1993-01-08', '1993-02-14', '1993-03-23', '1993-04-29', '1993-06-05', '1993-07-12', '1993-08-18', '1993-09-24', '1993-10-31', '1993-12-07', '1994-01-13', '1994-02-19', '1994-03-28', '1994-05-03', '1994-06-09', '1994-07-16', '1994-08-22', '1994-09-28', '1994-11-04', '1994-12-11', '1995-01-17', '1995-02-23', '1995-04-01', '1995-05-08', '1995-06-14', '1995-07-21', '1995-08-27', '1995-10-02', '1995-11-08', '1995-12-15', '1996-01-21', '1996-02-27', '1996-04-04', '1996-05-11', '1996-06-17', '1996-07-24', '1996-08-30', '1996-10-06', '1996-11-12', '1996-12-19', '1997-01-25', '1997-03-02', '1997-04-08', '1997-05-15', '1997-06-21', '1997-07-28', '1997-09-03', '1997-10-10', '1997-11-16', '1997-12-23', '1998-01-29', '1998-03-07', '1998-04-13', '1998-05-20', '1998-06-26', '1998-08-01', '1998-09-07', '1998-10-14', '1998-11-20', '1998-12-27', '1999-02-02', '1999-03-11', '1999-04-17', '1999-05-24', '1999-06-30', '1999-08-06', '1999-09-12', '1999-10-19', '1999-11-25', '1999-12-31', '2000-02-06', '2000-03-14', '2000-04-20', '2000-05-27', '2000-07-03', '2000-08-09', '2000-09-15', '2000-10-22', '2000-11-28', '2001-01-04', '2001-02-10', '2001-03-19', '2001-04-25', '2001-05-31', '2001-07-07', '2001-08-13', '2001-09-19', '2001-10-26', '2001-12-02', '2002-01-08', '2002-02-14', '2002-03-23', '2002-04-29', '2002-06-05', '2002-07-12', '2002-08-18', '2002-09-24', '2002-10-30', '2002-12-06', '2003-01-12', '2003-02-18', '2003-03-27', '2003-05-03', '2003-06-09', '2003-07-16', '2003-08-22', '2003-09-28', '2003-11-04', '2003-12-11', '2004-01-17', '2004-02-23', '2004-03-30', '2004-05-06', '2004-06-12', '2004-07-19', '2004-08-25', '2004-10-01', '2004-11-07', '2004-12-14', '2005-01-20', '2005-02-26', '2005-04-04', '2005-05-11', '2005-06-17', '2005-07-24', '2005-08-29', '2005-10-05', '2005-11-11', '2005-12-18', '2006-01-24', '2006-03-02', '2006-04-08', '2006-05-15', '2006-06-21', '2006-07-28', '2006-09-03', '2006-10-10', '2006-11-16', '2006-12-23', '2007-01-28', '2007-03-06', '2007-04-12', '2007-05-19', '2007-06-25', '2007-08-01', '2007-09-07', '2007-10-14', '2007-11-20', '2007-12-27', '2008-02-02', '2008-03-10', '2008-04-16', '2008-05-23', '2008-06-28', '2008-08-04', '2008-09-10', '2008-10-17', '2008-11-23', '2008-12-30', '2009-02-05', '2009-03-14', '2009-04-20', '2009-05-27', '2009-07-03', '2009-08-09', '2009-09-15', '2009-10-22', '2009-11-27', '2010-01-03', '2010-02-09', '2010-03-18', '2010-04-24', '2010-05-31', '2010-07-07', '2010-08-13', '2010-09-19', '2010-10-26', '2010-12-02', '2011-01-08', '2011-02-14', '2011-03-23', '2011-04-28', '2011-06-04', '2011-07-11', '2011-08-17', '2011-09-23', '2011-10-30', '2011-12-06', '2012-01-12', '2012-02-18', '2012-03-26', '2012-05-02', '2012-06-08', '2012-07-15', '2012-08-21', '2012-09-26', '2012-11-02', '2012-12-09', '2013-01-15', '2013-02-21', '2013-03-30', '2013-05-06', '2013-06-12', '2013-07-19', '2013-08-25', '2013-10-01', '2013-11-07', '2013-12-14', '2014-01-20', '2014-02-25', '2014-04-03', '2014-05-10', '2014-06-16', '2014-07-23', '2014-08-29', '2014-10-05', '2014-11-11', '2014-12-18', '2015-01-24', '2015-03-02', '2015-04-08', '2015-05-15', '2015-06-21', '2015-07-27', '2015-09-02', '2015-10-09', '2015-11-15', '2015-12-22', '2016-01-28', '2016-03-05', '2016-04-11', '2016-05-18', '2016-06-24', '2016-07-31', '2016-09-06', '2016-10-13', '2016-11-19', '2016-12-25', '2017-01-31', '2017-03-09', '2017-04-15', '2017-05-22', '2017-06-28', '2017-08-04', '2017-09-10', '2017-10-17', '2017-11-23', '2017-12-30', '2018-02-05', '2018-03-14', '2018-04-20', '2018-05-26', '2018-07-02', '2018-08-08', '2018-09-14', '2018-10-21', '2018-11-27', '2019-01-03', '2019-02-09', '2019-03-18', '2019-04-24', '2019-05-31', '2019-07-07', '2019-08-13', '2019-09-19', '2019-10-25', '2019-12-01', '2020-01-07', '2020-02-13', '2020-03-21', '2020-04-27', '2020-06-03', '2020-07-10', '2020-08-16', '2020-09-22', '2020-10-29', '2020-12-05', '2021-01-11', '2021-02-17', '2021-03-25', '2021-05-01', '2021-06-07', '2021-07-14']

Ejercicio extra. Crea la funcion add_year para sumar un a침o utilizando timedelta. Comprueba si el a침o es bisiesto y suma el n칰mero de d칤as correspondiente.

***

## Pandas Con Tiempo

A continuaci칩n, vienen los ejercicios relacionados con pandas. El dataset contiene ratios de intercambio de monedas con el dolar, y nos centraremos en el euro,

In [ ]:
link = 'https://github.com/AnotherKamila/currency-exchange-rates/blob/master/rates.csv'

0. Importa la libreria de Python y de Numpy

In [ ]:
import pandas as pd
import numpy as np

1. Lee el archivo con pandas (no incluyas ningun parametro de momento)

In [ ]:
Link='https://raw.githubusercontent.com/AnotherKamila/currency-exchange-rates/master/rates.csv'

In [ ]:
linkcsv=pd.read_csv(Link)

In [ ]:
linkcsv.head()

,Date,LAK,AOA,ANG,NOK,XPF,AFN,MZN,DOP,CZK,...,ALL,LKR,ILA,BRX,INX,CAX,CUC,ISX,HUX,CZX
0,2018-04-14,8276.0,217.610992,1.78,7.77490,96.120003,69.699997,60.000000,49.400002,20.504999,...,104.199997,155.600006,NaN,3.4099,NaN,NaN,NaN,NaN,252.119995,NaN
1,2018-04-13,8276.0,217.610992,1.78,7.75401,96.220001,69.699997,60.250000,49.400002,20.524401,...,104.500000,155.600006,NaN,3.3852,NaN,NaN,NaN,NaN,252.119995,NaN
2,2018-04-12,8276.0,216.432999,1.78,7.78330,96.110001,69.699997,60.400002,49.400002,20.510201,...,104.250000,155.649994,NaN,3.4046,NaN,NaN,NaN,NaN,251.740005,NaN
3,2018-04-11,8279.0,216.608002,1.78,7.77334,95.800003,69.699997,60.599998,49.400002,20.450800,...,104.199997,155.649994,NaN,3.4189,NaN,NaN,NaN,NaN,252.820007,NaN
4,2018-04-10,8279.0,216.436996,1.78,7.82025,96.269997,69.699997,60.799999,49.400002,20.560699,...,104.199997,155.500000,NaN,3.3897,NaN,NaN,NaN,NaN,253.949997,NaN

2. Chequea el numero de columnas,tipo de columnas, numero de filas y los valores caractersticos de la serie numerica (summary).

In [ ]:
linkcsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Columns: 178 entries, Date to CZX
dtypes: float64(177), object(1)
memory usage: 470.2+ KB

In [ ]:
linkcsv.dtypes

Date     object
LAK     float64
AOA     float64
ANG     float64
NOK     float64
         ...
CAX     float64
CUC     float64
ISX     float64
HUX     float64
CZX     float64
Length: 178, dtype: object

In [ ]:
linkcsv.describe().T

,count,mean,std,min,25%,50%,75%,max
LAK,338.0,8244.239054,47.607895,8162.000000,8191.000000,8268.500000,8284.525146,8317.000000
AOA,338.0,176.812245,19.999030,165.074997,165.087006,165.095993,183.535248,218.011993
ANG,338.0,1.778040,0.004931,1.770000,1.777500,1.780000,1.780000,1.790000
NOK,338.0,8.169929,0.322364,7.668930,7.842430,8.169615,8.473600,8.701320
XPF,334.0,103.271647,5.874542,94.809998,97.552502,101.570000,109.045002,113.919998
...,...,...,...,...,...,...,...,...
CAX,4.0,1.310700,0.000600,1.310400,1.310400,1.310400,1.310700,1.311600
CUC,4.0,0.995000,0.000000,0.995000,0.995000,0.995000,0.995000,0.995000
ISX,4.0,108.434999,1.192768,107.330002,107.937500,108.139999,108.637499,110.129997
HUX,314.0,268.320733,14.696172,247.759995,254.505001,264.675003,284.799995,294.630005
CZX,4.0,25.444000,0.048000,25.372000,25.444000,25.468000,25.468000,25.468000

3. Convierte la variable de tiempo (Date) al formato datetime y conviertela en el indice

In [ ]:
linkcsv["Date"] = pd.to_datetime(linkcsv["Date"])

In [ ]:
linkcsv.dtypes

Date    datetime64[ns]
LAK            float64
AOA            float64
ANG            float64
NOK            float64
             ...
CAX            float64
CUC            float64
ISX            float64
HUX            float64
CZX            float64
Length: 178, dtype: object

4. Vuelve a leer el archivo, esta vez asignando el parametro al indice y el camo date como fecha. Comprueba que los dataframes son iguales (Se puede utilizar la funcion df.equals(exactly_equal) para comprobar dos dataframes)

In [ ]:
linkcsv2=pd.read_csv(Link)

In [ ]:
linkcsv2 = linkcsv2.set_index( 'Date')

In [ ]:
linkcsv2

,Date,LAK,AOA,ANG,NOK,XPF,AFN,MZN,DOP,CZK,...,ALL,LKR,ILA,BRX,INX,CAX,CUC,ISX,HUX,CZX
0,2018-04-14,8276.0,217.610992,1.78,7.77490,96.120003,69.699997,60.000000,49.400002,20.504999,...,104.199997,155.600006,NaN,3.4099,NaN,NaN,NaN,NaN,252.119995,NaN
1,2018-04-13,8276.0,217.610992,1.78,7.75401,96.220001,69.699997,60.250000,49.400002,20.524401,...,104.500000,155.600006,NaN,3.3852,NaN,NaN,NaN,NaN,252.119995,NaN
2,2018-04-12,8276.0,216.432999,1.78,7.78330,96.110001,69.699997,60.400002,49.400002,20.510201,...,104.250000,155.649994,NaN,3.4046,NaN,NaN,NaN,NaN,251.740005,NaN
3,2018-04-11,8279.0,216.608002,1.78,7.77334,95.800003,69.699997,60.599998,49.400002,20.450800,...,104.199997,155.649994,NaN,3.4189,NaN,NaN,NaN,NaN,252.820007,NaN
4,2018-04-10,8279.0,216.436996,1.78,7.82025,96.269997,69.699997,60.799999,49.400002,20.560699,...,104.199997,155.500000,NaN,3.3897,NaN,NaN,NaN,NaN,253.949997,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,2017-01-13,8169.0,165.078995,1.77,8.50553,111.809998,66.739998,69.449997,46.369999,25.408001,...,128.199997,149.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,2017-01-12,8168.0,165.078003,1.77,8.48558,111.570000,66.760002,69.750000,46.360001,25.358101,...,128.500000,149.949997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,2017-01-11,8165.0,165.078003,1.77,8.60632,112.480003,66.769997,69.650002,46.360001,25.610300,...,129.149994,149.729996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,2017-01-10,8201.0,165.078003,1.77,8.60897,112.489998,66.779999,71.000000,46.360001,25.594999,...,128.699997,149.899994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,2016-12-20,8195.0,165.074997,1.77,8.70132,113.919998,66.290001,72.199997,46.169998,25.989901,...,129.369995,149.149994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

5. Quedate con uno de los dos anteriores dataframes y crea uno nuevo solamente con las columnas date y EUR. Pintala en un lineplot

In [ ]:
#filtering df for selected shares
#df_plot=df.loc[(df.Name =="AAPL") | (df.Name == "GOOGL") | (df.Name =="AMZN") | (df.Name =="JPM")]

In [252]:
dfeur = linkcsv2.sort_index()
dfeur = linkcsv2.reset_index()
dfeur=linkcsv2.columns ["EUR"]

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

6. Filtra el dataframe para tener
+ Datos unicamente de 2017. Cuantos datos tenemos de 2017?
+ Datos para marzo 2018. Obten la media del mes
+ El resultado para el 15 de Febrero de 2018

In [248]:
#Datafrom2017 - totals 238
df_2017 = linkcsv2.sort_index()
df_2017 = linkcsv2.reset_index()
df_2017[df_2017['Date'].between('2017-01-01', '2017-12-31')]

,Date,LAK,AOA,ANG,NOK,XPF,AFN,MZN,DOP,CZK,...,ALL,LKR,ILA,BRX,INX,CAX,CUC,ISX,HUX,CZX
99,2017-12-31,8301.0,165.098007,1.78,8.19550,98.870003,69.410004,58.430000,47.619999,21.275999,...,110.500000,153.399994,NaN,3.3074,NaN,NaN,NaN,NaN,258.820007,NaN
100,2017-12-30,8301.0,165.098007,1.78,8.19550,98.870003,69.410004,58.430000,47.619999,21.275999,...,110.500000,153.399994,NaN,3.3074,NaN,NaN,NaN,NaN,258.820007,NaN
101,2017-12-29,8288.0,165.098007,1.78,8.19643,98.919998,69.400002,58.450001,48.389999,21.336901,...,110.949997,153.399994,NaN,3.3074,NaN,NaN,NaN,NaN,258.820007,NaN
102,2017-12-28,8290.0,165.098007,1.78,8.27074,99.389999,69.400002,58.099998,48.389999,21.464899,...,111.000000,153.300003,NaN,3.3024,NaN,NaN,NaN,NaN,260.160004,NaN
103,2017-12-27,8291.0,165.098007,1.78,8.28660,99.760002,69.449997,58.099998,48.389999,21.710300,...,111.300003,152.350006,NaN,3.3194,NaN,NaN,NaN,NaN,261.660004,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,2017-01-14,8200.0,165.078995,1.77,8.49660,111.970001,66.750000,70.870003,46.230000,25.388000,...,128.199997,149.820007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,2017-01-13,8169.0,165.078995,1.77,8.50553,111.809998,66.739998,69.449997,46.369999,25.408001,...,128.199997,149.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,2017-01-12,8168.0,165.078003,1.77,8.48558,111.570000,66.760002,69.750000,46.360001,25.358101,...,128.500000,149.949997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,2017-01-11,8165.0,165.078003,1.77,8.60632,112.480003,66.769997,69.650002,46.360001,25.610300,...,129.149994,149.729996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,2017-01-10,8201.0,165.078003,1.77,8.60897,112.489998,66.779999,71.000000,46.360001,25.594999,...,128.699997,149.899994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [249]:
#March 2018
df_0318 = linkcsv2.sort_index()
df_0318 = linkcsv2.reset_index()
df_0318[df_0318['Date'].between('2018-03-01', '2018-03-31')]

,Date,LAK,AOA,ANG,NOK,XPF,AFN,MZN,DOP,CZK,...,ALL,LKR,ILA,BRX,INX,CAX,CUC,ISX,HUX,CZX
14,2018-03-31,8280.0,213.889999,1.7800,7.83670,96.269997,69.169998,61.250000,49.400002,20.556000,...,105.250000,155.520004,NaN,3.3232,NaN,NaN,NaN,NaN,253.940002,NaN
15,2018-03-30,8280.0,213.889999,1.7800,7.82595,96.180000,69.099998,61.250000,49.400002,20.579201,...,105.849998,155.520004,NaN,3.3232,NaN,NaN,NaN,NaN,253.940002,NaN
16,2018-03-29,8280.0,213.889999,1.7800,7.86337,96.309998,69.099998,61.450001,49.400002,20.645901,...,105.900002,155.600006,NaN,3.3374,NaN,NaN,NaN,NaN,252.250000,NaN
17,2018-03-28,8275.0,212.975006,1.7800,7.76997,95.519997,69.099998,61.799999,49.400002,20.538900,...,105.500000,155.750000,NaN,3.3250,NaN,NaN,NaN,NaN,251.500000,NaN
18,2018-03-27,8272.0,212.376007,1.7800,7.69644,95.180000,69.150002,61.799999,49.400002,20.507000,...,104.800003,156.000000,NaN,3.3028,NaN,NaN,NaN,NaN,252.369995,NaN
19,2018-03-26,8277.0,213.647995,1.7800,7.69878,95.769997,69.000000,62.000000,49.400002,20.480000,...,104.800003,156.100006,NaN,3.3035,NaN,NaN,NaN,NaN,254.039993,NaN
20,2018-03-25,8279.0,214.358994,1.7800,7.75540,96.000000,68.930000,61.330002,49.770000,20.559000,...,104.800003,156.100006,NaN,3.3035,NaN,NaN,NaN,NaN,254.039993,NaN
21,2018-03-24,8279.0,214.358994,1.7800,7.75540,96.000000,68.930000,61.330002,49.770000,20.559000,...,104.800003,156.100006,NaN,3.3035,NaN,NaN,NaN,NaN,254.039993,NaN
22,2018-03-23,8279.0,214.358994,1.7800,7.77850,96.190002,68.900002,62.200001,49.400002,20.627899,...,104.699997,156.100006,NaN,3.3027,NaN,NaN,NaN,NaN,254.039993,NaN
23,2018-03-22,8277.0,214.934006,1.7800,7.72685,95.870003,68.900002,62.200001,49.400002,20.606501,...,104.699997,156.100006,NaN,3.2915,NaN,NaN,NaN,NaN,252.570007,NaN
24,2018-03-21,8278.0,215.214996,1.7800,7.73815,96.570000,68.900002,62.500000,49.400002,20.693001,...,106.139999,156.070007,NaN,3.2975,NaN,NaN,NaN,NaN,253.630005,NaN
25,2018-03-20,8278.0,214.462997,1.7800,7.71585,96.160004,68.900002,62.700001,49.400002,20.661200,...,104.339996,156.050003,NaN,3.2905,NaN,NaN,NaN,NaN,252.690002,NaN
26,2018-03-19,8281.0,214.951996,1.7800,7.73962,96.480003,68.900002,61.650002,49.400002,20.681200,...,106.400002,155.949997,NaN,3.2899,NaN,NaN,NaN,NaN,253.160004,NaN
27,2018-03-18,8279.0,214.132996,1.7800,7.71260,96.510002,68.970001,61.590000,49.770000,20.657000,...,106.400002,155.949997,NaN,3.2899,NaN,NaN,NaN,NaN,252.009995,NaN
28,2018-03-17,8279.0,214.132996,1.7800,7.71260,96.510002,68.970001,61.590000,49.770000,20.657000,...,106.400002,155.949997,NaN,3.2899,NaN,NaN,NaN,NaN,252.009995,NaN
29,2018-03-16,8279.0,214.132996,1.7800,7.70879,96.290001,69.000000,62.599998,49.400002,20.623800,...,106.500000,155.899994,NaN,3.2853,NaN,NaN,NaN,NaN,252.009995,NaN
30,2018-03-15,8274.0,213.837997,1.7800,7.69045,96.360001,69.000000,61.650002,49.299999,20.537001,...,106.000000,155.899994,NaN,3.2578,NaN,NaN,NaN,NaN,252.009995,NaN
31,2018-03-14,8272.0,213.526993,1.7800,7.72346,96.470001,69.000000,62.500000,49.400002,20.566000,...,105.800003,155.800003,NaN,3.2486,NaN,NaN,NaN,NaN,252.009995,NaN
32,2018-03-13,8275.0,214.585007,1.7800,7.75711,96.139999,68.949997,62.500000,49.639999,20.632999,...,106.400002,155.630005,NaN,3.2600,NaN,NaN,NaN,NaN,252.779999,NaN
33,2018-03-12,8277.0,214.830002,1.7800,7.78173,96.160004,68.900002,62.400002,49.639999,20.673901,...,106.650002,155.600006,NaN,3.2490,NaN,NaN,NaN,NaN,253.160004,NaN
34,2018-03-11,8290.0,212.649994,1.7800,7.77450,96.779999,68.879997,61.599998,49.049999,20.677999,...,106.650002,155.399994,NaN,3.2490,NaN,NaN,NaN,NaN,253.270004,NaN
35,2018-03-10,8290.0,212.649994,1.7800,7.77450,96.779999,68.879997,61.599998,49.049999,20.677999,...,106.650002,155.399994,NaN,3.2490,NaN,NaN,NaN,NaN,253.270004,NaN
36,2018-03-09,8271.0,212.649994,1.7800,7.80013,96.279999,68.959999,62.799999,49.639999,20.680000,...,107.000000,155.399994,NaN,3.2512,NaN,NaN,NaN,NaN,253.270004,NaN
37,2018-03-08,8271.0,213.026993,1.7800,7.84502,96.169998,68.959999,62.900002,49.619999,20.528999,...,106.000000,155.350006,NaN,3.2312,NaN,NaN,NaN,NaN,251.759995,NaN
38,2018-03-07,8265.0,213.026993,1.7800,7.79389,95.970001,68.959999,61.700001,49.419998,20.427000,...,106.199997,155.300003,NaN,3.2240,NaN,NaN,NaN,NaN,251.770004,NaN
39,2018-03-06,8274.0,212.636993,1.7825,7.79971,95.980003,68.849998,61.599998,49.419998,20.575001,...,106.599998,155.000000,NaN,3.2576,NaN,NaN,NaN,NaN,254.229996,NaN
40,2018-03-05,8274.0,212.516006,1.7800,7.81685,96.160004,68.849998,62.500000,49.330002,20.622299,...,107.099998,154.899994,NaN,3.2608,NaN,NaN,NaN,NaN,254.520004,NaN
41,2018-03-04,8291.0,214.854996,1.7800,7.77680,96.769997,68.699997,61.000000,48.980000,20.583000,...,107.099998,154.949997,NaN,3.2608,NaN,NaN,NaN,NaN,255.589996,NaN
42,2018-03-03,8291.0,214.854996,1.7800,7.77680,96.769997,68.699997,61.000000,48.980000,20.583000,...,107.099998,154.949997,NaN,3.2608,NaN,NaN,NaN,NaN,255.589996,NaN
43,2018-03-02,8277.0,214.854996,1.7800,7.78650,96.970001,68.750000,62.400002,49.330002,20.649799,...,107.769997,154.949997,NaN,3.2614,NaN,NaN,NaN,NaN,255.589996,NaN
44,2018-03-01,8277.0,214.643005,1.7800,7.92549,97.559998,68.750000,62.099998,49.330002,20.847900,...,107.959999,154.949997,NaN,3.2443,NaN,NaN,NaN,NaN,257.609985,NaN

In [256]:
#150218
df_0218 = linkcsv2.sort_index()
df_0218 = linkcsv2.reset_index()
df_0218[df_0218['Date'].between('2018-02-15', '2018-02-15')]

,Date,LAK,AOA,ANG,NOK,XPF,AFN,MZN,DOP,CZK,...,ALL,LKR,ILA,BRX,INX,CAX,CUC,ISX,HUX,CZX
57,2018-02-15,8261.0,210.731995,1.78,7.79053,96.220001,68.900002,61.5,49.0,20.316999,...,106.699997,155.0,NaN,3.2531,NaN,NaN,NaN,NaN,249.539993,NaN

7. Que dia de la semana tiene una media mayor? Y una mediana mayor? Pinta en un grafico de barras la media(Groupby) de cada dia de la semana

8. Crea las siguientes columnas nuevas para el dataframe
+ A침o
+ Mes
+ Dia del mes
+ Dia del a침o
+ Semana del a침o

In [ ]:
from calendar import monthrange
from calendar import day_name

linkcsv['Year'] = pd.DatetimeIndex(linkcsv['Date']).year
linkcsv['month'] = pd.DatetimeIndex(linkcsv['Date']).month
linkcsv['day'] = pd.DatetimeIndex(linkcsv['Date']).day
linkcsv['week']= pd.DatetimeIndex(linkcsv['Date']).week

<ipython-input-190-2ad40b6d9458>:7: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  linkcsv['week']= pd.DatetimeIndex(linkcsv['Date']).week

In [ ]:
linkcsv.head().T

,0,1,2,3,4
Date,2018-04-14 00:00:00,2018-04-13 00:00:00,2018-04-12 00:00:00,2018-04-11 00:00:00,2018-04-10 00:00:00
LAK,8276.0,8276.0,8276.0,8279.0,8279.0
AOA,217.610992,217.610992,216.432999,216.608002,216.436996
ANG,1.78,1.78,1.78,1.78,1.78
NOK,7.7749,7.75401,7.7833,7.77334,7.82025
...,...,...,...,...,...
day,14,13,12,11,10
week,15,15,15,15,15
day_name,Saturday,Friday,Thursday,Wednesday,Tuesday
month,4,4,4,4,4
Year,2018,2018,2018,2018,2018

9. Crea dos nuevas variables en el dataframe
+ Valor de la variable del d칤a aterior " EUR_prev_1'
+ Valor de dentro de una semana "EUR_next_7'

10. Calcula la variable diferencia entre el valor de ayer y hoy, utilizando 'EUR_prev_1'

11. Calcula la el ratio de crecimiento entre ayer y hoy entre ambas, dividiendo entre el valor del dia anterior

12. Obten la columna 'Eur_prev_1_diff', con la funcion diff, y la variable pct_change 'Eur_prev_1_pct'. Comprueba que son iguales con lo calculado anteriormente

13. Crea una nueva variable la media movil CENTRADA de una semana. Haz un grafico(lineplot) para mostrarla , y comparala con la del ejercicio 5. Alguna conclusion>

14. Crea 3 dataframes distintos a una granularidad diaria (Recuerda que no hay fines de semanas, y tenemos que completar el valor)
+ El primero, utilizando el valor del primer d칤a
+ El segundo, Uutilizando el valor del d칤a siguiente
+ El tercero, Utilizando una interpolaci칩n entre ambos d칤as